img {
    width: 45vw;
    height: auto;
}

video {
    width: 45vw;
    height: auto;
}

@media screen and (max-width: 800px) {
    img,
    video {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.gambarkupu {
    display: inline-block;
    list-style: none;
}

.gambarkupu img {
    width: 30vw;
    height: auto;
}